*{
    margin: 0;
    padding: 0;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

    
}
.logo h1{
font-size: 45px;
font-weight:bold;

}
.color{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px ;
    font-size: 20 px;
    font-weight: bold;
    color: #FFF8F3;
    cursor: pointer;
}
.section-heading{
max-width: 827px;
text-align: center;

}
.section-heading h1{
    font-size: 35px;
    margin-bottom: 30px;
    color: ;

}
.section-heading p{ 
    font-size: 18px;
    margin-bottom: 30px;
color: #;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url(../images/developer.png),url(../images/header_bg.png) ;
    background-repeat: no-repeat;
    background-position: top left ,bottom right;
}
nav{
    width: 70%;
    max-width: 1160px;
     
    margin: 0px auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;}
    
nav .menu button{
    background-color: #FD6E0A;
}

#banner {
    /*border: 1px solid red;*/
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 611px;
}
#banner .banner-content h2{
font-size: 45px;
font-weight: 600px;
color:#474747;
margin-bottom: 5px;

}

#banner .banner-content h1{

    font-size: 85px;;
    font-weight: bold;
    color: #181818;
    margin-bottom: 10px;
}
#banner .banner-content p{

font-size: 18px;
color: #757575;
margin-bottom: 10px;
line-height: 30px;
}
#banner .banner-content button{

}

#banner .banner-img img{
    max-width: 584px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;
    width: 71%;
    max-width: 1140px;
    background-color: #FFF8F3;
    margin: 0 auto;
    margin-top: 130px;
}
#about .about-container{
    max-width:827px ;

    margin: 0 auto;
    margin-bottom: 131px;
    text-align: center;
}
#about .about-container .section-heading h1{
font-size: 35px;
font-weight: bold;
color: #181818;
margin-bottom: 30px;
}
#about .about-container .section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
margin-bottom: 30px;
}
#about .about-container .about-info {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 100px;
}
.about-info .info-card p{
    font-size: 18px;
    color: #474747,#757575;
}
.about-info .info-card h4{
    font-size: 20px;
    line-height: 30px;
}